MACRO {ANY_HEADER}  {Pid_Out_header} {Pid_Ping_header} {Pid_Sof_header} {Pid_In_header} {Pid_Setup_header}

# Timing paths where we just have a single byte in the output buffer

TIME 16.667 ns                                 # 8 bit times
PATH {XUD_IN_TxLoop_dataLast} {XUD_IN_TxLoop_CRC}
PATH {XUD_IN_TxLoop_PID}    {XUD_IN_TxLoop_data0}
PATH {XUD_IN_TxPid_TailS0} {XUD_IN_TxCrc_TailS0}
PATH {XUD_IN_TxPid_TailS1} {XUD_IN_TxDat_TailS1}
PATH {XUD_IN_TxPid_TailS2} {XUD_IN_TxDat_TailS2}
PATH {XUD_IN_TxPid_TailS3} {XUD_IN_TxDat_TailS3}
PATH {XUD_IN_TxPid_TailS4} {XUD_IN_TxDat_TailS4}
PATH {XUD_IN_TxDat_TailS1} {XUD_IN_TxCrc_TailS1}

# Timing paths where we just have two bytes in the output buffer

TIME 33.333 ns                                 # 16 bit times
PATH {XUD_IN_TxDat_TailS2} {XUD_IN_TxCrc_TailS2}

# Timing paths where we just have three bytes in the output buffer

TIME 50.000 ns                                 # 24 bit times
PATH {XUD_IN_TxDat_TailS3} {XUD_IN_TxCrc_TailS3}

# Timing paths where we have four bytes in the output buffer

TIME 66.666 ns                                 # 32 bit times
PATH {XUD_IN_TxDat_TailS4} {XUD_IN_TxCrc_TailS4}
PATH {XUD_IN_TxLoop_data0} {XUD_IN_TxLoop_dataN}
PATH {XUD_IN_TxLoop_data0} {XUD_IN_TxLoop_dataLast}
PATH {XUD_IN_TxLoop_dataN}  {XUD_IN_TxLoop_dataLast}
PATH {XUD_IN_TxLoop_dataN}  {XUD_IN_TxLoop_dataN}
PATH {doRXData_dataN}      {doRXData_dataN}
PATH {doRXData_data0}       {doRXData_dataN}
PATH {doRXData_dataN}       {doRXData_dataLast}
PATH {Token_PID_doRXData}   {doRXData_data0}

# TODO: 

TIME 266.66 ns
PATH {XUD_IN_TxHandshake}  {Token_PID_IN_TxHandshake}
PATH {XUD_IN_NotReady}     {Token_PID_IN_NotReady}
PATH {RXALowPolling}       {RXALowPolling}

# TODO:

TIME 266.66 ns
PATH {Token_PID_IN_NotReady} {ANY_HEADER}
PATH {Token_PID_IN_TxHandshake} {ANY_HEADER}
PATH {Token_PID_TxNak}    {ANY_HEADER}
PATH {Token_PID_doRXData} {ANY_HEADER}
PATH {Token_PID_RxRet2}   {ANY_HEADER}
PATH {XUD_TokenRx_Pid}    {ANY_HEADER}

# TODO:

TIME 533 ns

# Turn around times

PATH {XUD_IN_TxNak}                {Token_PID_TxNak}
PATH {doRXData_Ack}                {XUD_TokenRx_Pid}
PATH {DoOutNonIso_Ack}             {XUD_TokenRx_Pid}
PATH {Ping_Ack}                    {XUD_TokenRx_Pid}
PATH {PingNotAck}                  {XUD_TokenRx_Pid}
PATH {Pid_SofNC_header}            {XUD_TokenRx_Pid}
PATH {Pid_Sof_header}              {XUD_TokenRx_Pid}
PATH {XUD_TokenOut_BufferFull}     {XUD_TokenRx_Pid}
PATH {XUD_TokenOut_BufferFull_Nak} {XUD_TokenRx_Pid}
PATH {TxHandShakeReceived}         {XUD_TokenRx_Pid}
PATH {RXALowPolling}               {XUD_TokenRx_Pid}

# TODO: Follow up times, RX data after RX header

TIME 533 ns
PATH {Pid_Setup_header}     {Token_PID_doRXData}
PATH {Pid_Out_header}       {Token_PID_doRXData}
PATH {Pid_Out_header}       {XUD_TokenOut_BufferFull}

# TODO: Follow up times, TX data after RX header

TIME 533 ns
PATH {Pid_In_header}  {XUD_IN_NotReady}
PATH {Pid_In_header}  {XUD_IN_TxPid_TailS0}
PATH {Pid_In_header}  {XUD_IN_TxPid_TailS1}
PATH {Pid_In_header}  {XUD_IN_TxPid_TailS2}
PATH {Pid_In_header}  {XUD_IN_TxPid_TailS3}
PATH {Pid_In_header}  {XUD_IN_TxPid_TailS4}
PATH {Pid_In_header}  {XUD_IN_TxLoop_PID}
PATH {Pid_In_header}  {XUD_IN_TxNak}
PATH {Pid_In_header}  {XUD_IN_TxHandshake}
PATH {Pid_Ping_header}  {PingNotAck}
PATH {Pid_Ping_header}  {Ping_Ack}


# TODO: Wait for Ack after Tx (earliest possible Tx)

TIME 533 ns
PATH {XUD_IN_TxCrc_TailS0} {TxHandShakeReceived}
PATH {XUD_IN_TxCrc_TailS1} {TxHandShakeReceived}
PATH {XUD_IN_TxCrc_TailS2} {TxHandShakeReceived}
PATH {XUD_IN_TxCrc_TailS3} {TxHandShakeReceived}
PATH {XUD_IN_TxCrc_TailS4} {TxHandShakeReceived}
PATH {XUD_IN_TxLoop_CRC}   {TxHandShakeReceived}

# TODO: ISO Tx without handshake, earliest possible next packet

TIME 533 ns
PATH {XUD_IN_TxCrc_TailS0} {XUD_TokenRx_Pid}
PATH {XUD_IN_TxCrc_TailS1} {XUD_TokenRx_Pid}
PATH {XUD_IN_TxCrc_TailS2} {XUD_TokenRx_Pid}
PATH {XUD_IN_TxCrc_TailS3} {XUD_TokenRx_Pid}
PATH {XUD_IN_TxCrc_TailS4} {XUD_TokenRx_Pid}
PATH {XUD_IN_TxLoop_CRC}   {XUD_TokenRx_Pid}


# TODO: Iso to next packet?

TIME 533 ns
PATH {doRXData_dataLast} {XUD_TokenRx_Pid}
PATH {doRXData_dataLast} {Token_PID_RxRet2}


TIME 533 ns         TODO

# Ack IN packet

PATH {doRXData_dataLast} {doRXData_Ack}
PATH {doRXData_dataLast} {DoOutNonIso_Ack}


