.build*
__gen*
_build/
*/bin/*
*~
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*.swp
*.*~
*.sw*
*.zip
*.log
*.pyc
*.expect
*.so
*/logs/*
test_results.csv
.DS_Store
_README/**
**/pdf/**
**/.venv/**
*.doctree
sphinx.output
Installs/
.settings
tests/bin.txt
tests/log
tests/test_**/**test_xs2.xn
tests/test_**/**test_xs3_500.xn
tests/test_**/**test_xs3_540.xn
tests/test_**/**test_xs3_600.xn
tests/test_**/**test_xs3_800.xn
**/venv/**
*.gtkw
