.build*
__gen*
_build/
*/bin/*
*~
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*.swp
*.*~
*.sw*
*.zip
*.log
*.pyc
*.expect
*.so
*/logs/*
test_results.csv
.DS_Store
_README/**
**/pdf/**
*.doctree
sphinx.output
Installs/
.settings
**/.venv/**
