.build*
__gen*
_build/
*/bin/*
*~
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*.swp
*.*~
*.sw*
*.zip
*.log
*.pyc
*.expect
*.so
**/bin/**
**/tests/result/*
**/logs*/**
test_results.csv
.DS_Store
_README/**
**/pdf/**
**/.venv/**
*.doctree
sphinx.output
Installs/
.settings
tests/bin.txt
tests/log
tests/test_**/**test_xs2.xn
tests/test_**/**test_xs3_*.xn
**/venv/**
*.gtkw
**/tests/build/**
**/tests/doc/**
**/build/html/**
**/tests/assets/**
**/build/docstrees/**
tests/report.html
tests/testplan.rst
build/doctrees/environment.pickle
*pca.xml*
*.d
